.Home_container {
    display: flex;
    font-size: 20px;
    height: 85%;
    width: 75%;
    background: rgba(255, 255, 255, 0.24);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.01);
    backdrop-filter: blur(6.8px);
    border: 1px solid rgba(255, 255, 255, 0.52);
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.Home_Messgaesbox{
    height: 50%;
    width: 75%;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;
    background: rgba(255, 255, 255, 0.24);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.01);
    backdrop-filter: blur(6.8px);
    border: 1px solid rgba(255, 255, 255, 0.52);
h3{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
    padding: 0%;
    text-align: center;
    font-weight: normal;
    font-size: 17px;
    margin-top: 10px;
}

}

@media (max-width: 880px){
    .Home_container {
        display: none;

    }

    .Home_Messgaesbox{
        display: flex;
    }
}