.Home_container {
    display: flex;
    font-size: 20px;
    height: 85%;
    width: 75%;
    background: rgba(255, 255, 255, 0.24);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.01);
    backdrop-filter: blur(6.8px);
    border: 1px solid rgba(255, 255, 255, 0.52);
    gap: 10px;
    justify-content: center;
    align-items: center;
}