.navBar_container {
    height: 10%;
    width: 100%;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(52, 68, 76, 0.364);
        border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    .brand_name {
        width: 40%;
        height: 90%;
        /* border: 1px solid red; */
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;

        span{
            font-size: 17px;
        }
    }

    .user_name {
        width: 55%;
        height: 90%;
        /* border: 1px solid red; */
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;

        img{
            height: 40px;
            width: 40px;
            border: none;
            border-radius: 50%;
        }

        p{
            font-size: 15px;
           
        }
    }
}