.Sidebar_Container {
    width: 28%;
    height: 95%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    caret-color: transparent;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: rgba(52, 68, 76, 0.204);
}


.Searchbox_container {
    height: 16%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 0px;
    padding: 0%;

    /* border: 1px solid rgb(17, 17, 17); */   
}

.searchbox {
    height: 50%;
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;

    input {
        width: 75%;
        height: 100%;
        background-color: transparent;
        /* border: 2px solid black; */
        box-sizing: border-box;
        padding: 5px;
        border: none;
        background-color: rgba(52, 68, 76, 0.215);
        outline: none;
    }

    input:focus {
        caret-color: black;
    }

    ::placeholder {
        color: white;
        opacity: 1;
        font-size: 14px;
    }

    button {
        width: 25%;
        height: 100%;
        border: none;
        cursor: pointer;
        color: white;
        font-size: 14px;
        background-color: blue;
    }
}

.useradd {
    height: 45%;
    width: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color: rgba(52, 68, 76, 0.5);


    img {
        height: 35px;
        width: 35px;
        border-radius: 50%;
        border: none;
    }

    span {
        height: 100%;
        width: 60%;
        /* border: 1px solid red;  */
        align-content: center;
        text-align: start;
        margin-left: 10px;
        font-size: 16px;
    }

    button {
        height: 70%;
        width: 25%;
        margin-right: 10px;
        border-radius: 5px;
        border: none;
        font-size: 13px;
        cursor: pointer;
        color: white;
        background-color: rgb(35, 199, 35);
    }
}

.logout {
    height: 7%;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;

    button {
        height: 90%;
        width: 35%;
        border: none;
        color: white;
        background-color: red;
        border-radius: 0px;
        font-size: 16px;
        cursor: pointer;
        margin-right: 10px;
        transition: 2s;

        a {
            text-decoration: none;
            color: white;
            height: 100%;
            width: 100%;
        }
    }

    button:hover {
        background-color: rgb(156, 0, 0);
    }
}
.userlist {
    height: 70%;
    width: 100%;
    /* border: 1px solid red; */
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 1px;

    h4 {
        padding: 0%;
        margin: 0%;
        font-size: 15px;
        text-align: start;
        width: 100%;
        height: 25px;
        align-content: center;
    }

    .user {
        height: 17%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(52, 68, 76, 0.5);
        cursor: pointer;
        box-sizing: border-box;

        .imgss {
            width: 20%;
            height: 100%;
            display: flex;
            justify-content: start;
            align-items: center;
            /* border: 1px solid red; */

            img {
                height: 45px;
                width: 45px;
                border-radius: 50%;
                border: none;

            }
        }

        span {
            height: 100%;
            width: 80%;
            /* border: 1px solid red; */
            align-content: center;
            text-align: start;
            padding-left: 10px;
            font-size: 16px;

        }

        button {
            height: 70%;
            width: 25%;
            margin-right: 10px;
            border-radius: 10px;
            border: none;
            font-size: 15px;
            cursor: pointer;
            color: white;
            background-color: rgb(35, 199, 35);
        }

    }

}

.userlist::-webkit-scrollbar {
    height: 0px;
    width: 0px;
}
